@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-slider {
  margin-inline: -30px;
}
.slick-slide > div {
    margin-inline: 15px;
    display: flex;
    justify-content: center;  
  
}